<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="HO_COMPANY">
        <MAINMENU id="hoAdministration">
			<SUBMENU id="hoLogs" cl="ho_logs" />
        </MAINMENU>
		<MAINMENU id="hoExport">
			<SUBMENU id="hoOrder" cl="ho_export" />
		</MAINMENU>
		<MAINMENU id="hoImport">
			<SUBMENU id="hoImport" cl="ho_import" />
		</MAINMENU>
		<MAINMENU id="hoTools">
			<SUBMENU id="hoFileSystem" cl="ho_file" />
			<SUBMENU id="hoAdminer" cl="ho_adminer" />
		</MAINMENU>
    </OXMENU>
</OX>